<h1>Edit term</h1>

    <%= form_for(@term) do |f| %>

      <div class="field">  
        <%= f.label :word %></br>
        <%= f.text_field :word %>
      </div>
      
      <div class="field">  
        <%= f.label :definition %></br>
        <%= f.text_field :definition %>
      </div>

      <div class="field">  
        <%= f.label :link %></br>
        <%= f.text_field  :link %>
      </div>

      <div class="field">  
        <%= f.label :quote %></br>
        <%= f.text_field :quote %>
      </div>


      <div class="actions"> 
        <%= f.submit "Update" %>
      </div>
    <% end %>
  </div>
</div>